* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./assets/images/siteback.jpg");
  background-repeat: no-repeat;
  background-size: 3600px 1500px;
}

@font-face {
  font-family: nav;
  src: url(./assets/fonts/navfont.TTF);
}

@font-face {
  font-family: genTitle;
  src: url(./assets/fonts/balloonblack.ttf);
}

@font-face {
  font-family: christmasTitle;
  src: url(./assets/fonts/christmas.TTF);
}

@font-face {
  font-family: loveTitle;
  src: url(./assets/fonts/hearts.ttf);
}

main {
  padding: 0;
  display: flex;
  flex-direction: column;
  background-image: none;
}

#nav {
  width: 100%;
  background-image: linear-gradient(to right, red, yellow);
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  justify-content: space-around;
}

#logo {
  width: 400px;
  background-image: none;
}

.navLinks {
  background-image: none;
  margin-right: 30px;
}

#donate,
#login,
#signup,
#logout {
  background-image: none;
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  font-family: nav;
  padding: 10px;
}

#donate:hover,
#login:hover,
#signup:hover,
#logout:hover {
  cursor: pointer;
  text-shadow: 1px 1px 5px white;
}

Form {
  background-image: linear-gradient(to top, white, gray);
  color: black;
  width: 25%;
}

.form-group {
  background-image: none;
  color: black;
}

.form-label {
  background-image: none;
  color: black;
}

.form-control {
  background-image: none;
  color: black;
}

.invalid-feedback {
  background-image: none;
  color: black;
}

.fade.alert.alert-danger.alert-dismissible.show,
.sr-only,
span {
  background-image: none;
  color: black;
}

.close {
 width: fit-content;
 padding: 2px;
}

Button {
  background-image: none;
  background-color: white;
  color: black;
  border: black;
}

.themeProvider {
  display: flex;
  flex-flow: row wrap;
  justify-items: center;
  align-items: center;
}

.cardContainer {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-image: url("./assets/images/genback.png"); */
  background-image: "state.darkTheme";
  background-size: 420px 450px;
  max-width: 600px;
  max-height: 450px;
  width: 400px;
  min-height: 400px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: black 5px 5px 5px;
}

.wishCard {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: none;
  background-size: 400px 400px;
  max-width: 400px;
  max-height: 300px;
  width: 400px;
  min-height: 100px;
  margin: 20px;
  align-items: center;
  justify-content: center;
  /* box-shadow: black 5px 5px 5px; */
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#wishTitle {
  background-image: none;
}

#themeButton {
  border: none;
  width: fit-content;
  padding: 5px;
}

#myListTitle {
  font-family: genTitle;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  color: red;
  -webkit-text-stroke: 1px black;
}

#addItem {
  background-image: none;
  height: 30px;
  width: fit-content;
  padding: 2px;
  background-color: red;
  border: 1px solid black;
}

#listItem {
  background-image: none;
  display: flex;
  width: 90%;
}

#itemName {
  width: 80%;
  background-image: none;
}

#removeItem {
  height: 30px;
  width: fit-content;
  padding: 2px;
  margin: 2px;
  margin-left: 10px;
  background-image: none;
  background-color: white;
  color: red;
  -webkit-text-stroke: 1px black;
  border: 1px solid black;
}

#received {
  height: 30px;
  width: fit-content;
  padding: 2px;
  margin: 2px;
  background-image: none;
  background-color: white;
  border: 1px solid black;
  color: black;
}

footer {
  background-image: none;
  height: fit-content;
  padding: 10px;
}

h4 {
  height: fit-content;
  background-image: none;
}
